@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  /* 글자 사이 간격 줄이기 */
  letter-spacing: -0.05em;
  background: white;
}
p {
  /* 줄 간격 */
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  /* 하이퍼링크 줄 없애기 */
  text-decoration: none;
}
/* global-nav와 local-nav가 자체 heigth를 가지고 있기 때문에
main.js에서 scrollLoop에 약간의 오차가 발생
-> position: absolute로 활용 */
.global-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}
.local-nav {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
  /* 최대 폭 설정 및 center 정렬*/
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.global-nav-links {
  justify-content: space-between;
}
.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: 900;
}
.local-nav-links a:not(.product-name) {
  font-size: 0.8rem;
}
/* 괄호 안 조건은 뺀 나머지 a 태그들만 -> :not(클래스명) */
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}

.scroll-section {
  border: 3px solid red;
  padding-top: 50vh;
}
/* scroll-section 0 */
#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}
.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.main-message small {
  /* display block으로 인한 개행이 이뤄짐 */
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
/* scroll-section 1 */
.description {
  /* 섹션을 줄이기 보다는 섹션 안의 요소를 줄인다! */
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}
/* font-size는 rem, margin,padding,height 등의 값은 em */
.description strong {
  /* float: left를 없애면 글자간 크기 공백을 채우지 않음! */
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}
/* srcoll-setcion-2 */
#scroll-section-2 .main-message {
  font-size: 3.5rem;
}
.desc-message {
  font-weight: bold;
  width: 50%;
}
.pin {
  width: 1px;
  height: 100px;
  background: rgb(29, 29, 31);
}
/* scroll-section 3 */
.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}
.mid-message strong {
  color: rgb(29, 29, 31);
}
.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  color: #888;
  padding: 0 1rem;
  font-size: 1.2rem;
  /* text-align: center; */
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background: darkorange;
}
/* sticky-elem */
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  /* width: 100%를 해주니 딱 중앙에 나왔음! */
  width: 100%;
}

/* body에 id값을 추가해 해당 씬만 추가하고 나머지는 display : none!
body에 id값이 할당 되있어야 밑으로 내려가면서 section을 찾음! */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    /* 윈도의 사이즈의 9% 크기 */
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
}
